<a href="https://colab.research.google.com/github/ihsanmujahid/Codecademy_IHSAN/blob/Medical-Insurance/Medical_Insurance_(List).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

# Add a new name and corresponding insurance cost to the existing lists
names.append("Priscilla")
insurance_costs.append(8320.0)

# Create a list of medical records by combining the names and insurance costs using the zip() function
medical_records = list(zip(names, insurance_costs))
print(medical_records)

# Calculate the number of medical records
num_medical_records = len(medical_records)
print("There are " + str(num_medical_records) + " medical records.")

# Retrieve the first medical record from the list
first_medical_record = medical_records[0]
print("Here is the first medical record: " + str(first_medical_record))

# Sort the medical records based on insurance cost in ascending order
medical_records.sort()
print("Here are the medical records sorted by insurance cost: " + str(medical_records))

# Retrieve the three medical records with the cheapest insurance costs
cheapest_three = medical_records[:3]
print("Here are the three cheapest insurance costs in our medical records: " + str(cheapest_three))

# Retrieve the three medical records with the priciest insurance costs
priciest_three = medical_records[-3:]
print("Here are the three most expensive insurance costs in our medical records: " + str(priciest_three))

# Count the occurrences of the name "Paul" in the list of names
occurrences_paul = names.count("Paul")
print("There are " + str(occurrences_paul) + " individuals with the name Paul in our medical records.")

[('Mohamed', 13262.0), ('Sara', 4816.0), ('Xia', 6839.0), ('Paul', 5054.0), ('Valentina', 14724.0), ('Jide', 5360.0), ('Aaron', 7640.0), ('Emily', 6072.0), ('Nikita', 2750.0), ('Paul', 12064.0), ('Priscilla', 8320.0)]
There are 11 medical records.
Here is the first medical record: ('Mohamed', 13262.0)
Here are the medical records sorted by insurance cost: [('Aaron', 7640.0), ('Emily', 6072.0), ('Jide', 5360.0), ('Mohamed', 13262.0), ('Nikita', 2750.0), ('Paul', 5054.0), ('Paul', 12064.0), ('Priscilla', 8320.0), ('Sara', 4816.0), ('Valentina', 14724.0), ('Xia', 6839.0)]
Here are the three cheapest insurance costs in our medical records: [('Aaron', 7640.0), ('Emily', 6072.0), ('Jide', 5360.0)]
Here are the three most expensive insurance costs in our medical records: [('Sara', 4816.0), ('Valentina', 14724.0), ('Xia', 6839.0)]
There are 2 individuals with the name Paul in our medical records.